@import "./1-primitives/colors.css";
@import "./1-primitives/typography.css";
@import "./1-primitives/spacing.css";
@import "./1-primitives/motion.css";
@import "./1-primitives/z-index.css";

@import "./2-semantic/materials.css";
@import "./2-semantic/layout.css";
@import "./2-semantic/colors-light.css";
@import "./2-semantic/colors-dark.css";
@import "./2-semantic/typography.css";

@import "./3-tailwind.css";
