:root {
	--gray-0: 1 0 0;
	--gray-50: 0.99 0 0;
	--gray-100: 0.97 0 0;
	--gray-200: 0.92 0 0;
	--gray-300: 0.86 0 0;
	--gray-400: 0.72 0 0;
	--gray-500: 0.58 0 0;
	--gray-600: 0.45 0 0;
	--gray-700: 0.32 0 0;
	--gray-800: 0.2 0 0;
	--gray-900: 0.12 0 0;
	--gray-950: 0.08 0 0;
	--gray-1000: 0 0 0;

	--brand-hue: 280;
	--brand-on-light: 0.55 0.22 280;
	--brand-on-dark: 0.75 0.16 280;

	--hue-note: 280;
	--hue-essay: 200;
	--hue-tutorial: 145;
	--hue-thought: 260;

	--hue-seed: 90;
	--hue-root: 30;
	--hue-fruit: 145;
}
