:root {
	--space-0: 0rem;
	--space-1: 0.25rem;
	--space-2: 0.5rem;
	--space-3: 0.75rem;
	--space-4: 1rem;
	--space-5: 1.25rem;
	--space-6: 1.5rem;
	--space-7: 1.75rem;
	--space-8: 2rem;
	--space-9: 2.5rem;
	--space-10: 3rem;
	--space-12: 4rem;
	--space-16: 6rem;
	--space-20: 8rem;
	--space-24: 10rem;

	--radius-0: 0;
	--radius-1: 0.125rem;
	--radius-2: 0.25rem;
	--radius-3: 0.5rem;
	--radius-full: 9999px;
}
