:root {
	--text-caption: var(--type--1);
	--text-body-sm: var(--type-0);
	--text-body: var(--type-1);
	--text-body-lg: var(--type-2);

	--text-h6: var(--type-1);
	--text-h5: var(--type-2);
	--text-h4: var(--type-2);
	--text-h3: var(--type-3);
	--text-h2: var(--type-4);
	--text-h1: var(--type-5);

	--text-display: var(--type-6);
	--text-display-lg: var(--type-7);

	--leading-heading: var(--line-height-tight);
	--leading-body: var(--line-height-normal);
	--leading-prose: var(--line-height-relaxed);
	--leading-ui: var(--line-height-snug);

	--tracking-heading: var(--letter-spacing-tight);
	--tracking-body: var(--letter-spacing-normal);
	--tracking-ui: var(--letter-spacing-normal);
	--tracking-display: var(--letter-spacing-tighter);
}
