@layer base {
	*,
	*::before,
	*::after {
		box-sizing: border-box;
	}

	* {
		margin: 0;
	}

	html {
		font-size: 100%;
		text-size-adjust: 100%;
		-webkit-text-size-adjust: 100%;
		scroll-behavior: smooth;
	}

	body {
		min-height: 100dvh;
		line-height: 1.5;
	}

	img,
	picture,
	video,
	canvas,
	svg {
		display: block;
		max-width: 100%;
	}

	input,
	button,
	textarea,
	select {
		font: inherit;
	}

	p,
	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		overflow-wrap: break-word;
	}

	#root,
	#__svelte,
	#__next {
		isolation: isolate;
	}

	* {
		scrollbar-width: auto;
		scrollbar-color: oklch(from var(--color-text) l c h / 0.2) transparent;
	}

	::-webkit-scrollbar {
		width: 12px;
		height: 12px;
	}

	::-webkit-scrollbar-track {
		background: transparent;
	}

	::-webkit-scrollbar-thumb {
		background: oklch(from var(--color-text) l c h / 0.2);
		border-radius: var(--radius-full);
		border: 3px solid transparent;
		background-clip: padding-box;
	}

	::-webkit-scrollbar-thumb:hover {
		background: var(--color-primary);
		border: 3px solid transparent;
		background-clip: padding-box;
	}

	::-webkit-scrollbar-thumb:active {
		background: var(--color-primary);
	}

	::-webkit-scrollbar-corner {
		background: transparent;
	}

	::-webkit-scrollbar-button {
		display: none;
		width: 0;
		height: 0;
	}
}
